.myNavbar {
  margin-bottom: 1rem;
}

button.nav-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    display: none;
  }
}
